input[type="text"].algolia-magic-search-box--input,
.algolia-magic-search-box--input {
  padding: 10px 42px;
  display: inline-block;
  border-radius: 20px;
  border: solid 1px #ccc;
  background: #FFF;
}
input[type="text"].algolia-magic-search-box--input:focus,
.algolia-magic-search-box--input:focus {
  border: solid 1px #2897C5;
  outline: 0;
  box-shadow: none;
  background:none;
}


.algolia-magic-tab-menu {
  width:100%;
}
.algolia-magic-tab-menu--item {
  font-size: 1.1em;
  margin-right: 14px;
  display: inline-block;
  cursor:pointer;
}
.algolia-magic-tab-menu--item__active {
  font-weight: bold;
  border-bottom: solid 2px #2897C5;
  line-height: 24px;
}
.algolia-magic-tab-menu--count {
  padding-left: 4px;
  font-size: .9em;
  color: #aaa;
  font-weight: 400;
}
